@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    width: 100%;
    min-height: 100vh; 
    height: auto; 
    font-family: Montserrat, Arial, sans-serif;
}

body {
    background: #1B263B;
    background-size: cover; 
    background-attachment: fixed; 
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: linear-gradient(-45deg, #1ac8db, #0292b7, #18528a, #412b68);;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* typography */

.gradient-text {
    font-weight:;
    background: linear-gradient(360deg, 
                                #412b68 0%, 
                                #18528a 25%, 
                                #0292b7 50%, 
                                #1ac8db 75%, 
                                #412b68 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}



/* Navbar */
.nav {
    position: relative; /* Ensures it stays on top */
    z-index: 10; /* Higher than the background */
}

.logo-text {
    font-family: 'Bruno Ace SC', cursive;
    color: #1ac8db;
    font-size: 2rem;
    padding-left: -5px;
    transition: text-shadow 0.3s ease, transform 0.3s ease-in-out;
}

.logo-text:hover {
    text-shadow:
        0 0 10px #0292b7,
        0 0 20px #18528a,
        0 0 30px #412b68;
    transform: scale(1.05)
}

.logo-nav {
    width: 6rem;
    padding-top: 1.5rem;
    padding-left: 0.5rem;
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.logo-nav:hover {
    filter: drop-shadow(0 0 10px #0292b7) drop-shadow(0 0 20px #18528a) drop-shadow(0 0 30px #412b68);
    transform: scale(1.05);
}

.nav-link {
    text-decoration: none;
    color: white;
    /* Default color */
    transition: color 0.3s ease;
    /* Smooth color transition */
}

.nav-link:hover {
    text-decoration: none;
    color: #1ac8db;
    /* Example: Replace with your logo hover color */
}

.dropdown-icon {
    color: #d1d5db;
    transition: color 0.3s ease;

}

.dropdown-icon:hover {
    color: #1ac8db;
}

/* Index cards*/

.vet-img {
    filter: brightness(0) saturate(100%) invert(69%) sepia(37%) saturate(750%) hue-rotate(150deg) brightness(95%) contrast(90%);
}

.vet-img:hover {
    filter: brightness(0) invert(1);
}

.startup-img {
    filter: brightness(0) saturate(100%) invert(69%) sepia(37%) saturate(750%) hue-rotate(150deg) brightness(95%) contrast(90%);
}

.startup-img:hover {
    filter: brightness(0) invert(1);
}

.startuppage-img {
    filter: brightness(100%) invert(100%) contrast(100%);
    }
    

.card-button {
    color: #1B263B;
    background-color: #1ac8db !important;
    transition: color 0.3s ease, background-color 0.3s ease !important;
}

.card-button:hover {
    background-color: transparent!important;
    color: #1ac8db!important;
}

/* Footer */
#footer {
    text-align: center;
}

.footer-logo {
    width: 7rem;
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.footer-logo:hover {
    filter: drop-shadow(0 0 10px #0292b7) drop-shadow(0 0 20px #18528a) drop-shadow(0 0 30px #412b68);
    transform: scale(1.05);
}

